function Sys.init 0

// SCREEN: 16384
// KEYBOARD: 24576
// Row delta: 640

push constant 16384 // SCREEN ADDR
pop static 0 // Column cursor

push constant 0
pop static 1 // Row cursor

label LOOP


// DRAW S
push that 24576 // keyboard
push constant 83 // S
eq
if-goto DRAW_S

push that 24576 // keyboard
push constant 115 // s
eq
if-goto DRAW_S


// DRAW E
push that 24576 // keyboard
push constant 69 // E
eq
if-goto DRAW_E

push that 24576 // keyboard
push constant 101 // e
eq
if-goto DRAW_E


// DRAW B
push that 24576 // keyboard
push constant 66 // B
eq
if-goto DRAW_B

push that 24576 // keyboard
push constant 98 // b
eq
if-goto DRAW_B

goto LOOP


label DRAW_S
push static 0 // character screen offset
call DrawS.draw_s 1
goto WAIT

label DRAW_E
push static 0 // character screen offset
call DrawE.draw_e 1
goto WAIT

label DRAW_B
push static 0 // character screen offset
call DrawB.draw_b 1
goto WAIT

label WAIT
push that 24576 // keyboard
push constant 0 // No key
eq
if-goto UPDATE_CURSOR
goto WAIT

label UPDATE_CURSOR
// Increase column cursor
push static 0
push constant 1
add
pop static 0 // Update column cursor

// Increase row cursor
push static 1
push constant 1
add
pop static 1 // Update row cursor

// Check if we have reached end of line
push static 1
push constant 32
eq
if-goto NEXT_ROW

goto LOOP

label NEXT_ROW
// Move to the next row
push static 0
push constant 640
add
pop static 0 // Update column cursor

// Reset row cursor
push constant 0
pop static 1 // Reset row cursor
goto LOOP
